body	{font-family:"Comic Sans MS", cursive, sans-serif;
		font-size: 12pt;}
		
p		{margin-left:45pt;
		 margin-right:45pt; }
			
img		{border-color: transparent; }

li.navlist	{display:inline;
			list-style-type:none; }

a		{text-decoration: none;
		color:#030A24 }
		
a:hover {background: none;
		color: #0000FF; }